@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid; // @include foundation-flex-grid;
@include foundation-typography; //@include foundation-button;
@include foundation-breadcrumbs; //@include foundation-button-group;
@include foundation-visibility-classes;
@include foundation-float-classes; //@include foundation-flex-classes;

.clearfix {
  @include clearfix;
}
// Globals

.outer {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.page-wrap {
  max-width: $global-width;
  margin: 0 auto;
}

.section {
  max-width: rem-calc(1280);
  margin: 0 auto;
}

a {
  text-decoration: underline;
}

//header
.header {
  position: relative;
}

.logo {
  position: absolute;
  a {
    display: block;
  }
}
