@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid; // @include foundation-flex-grid;
@include foundation-typography; //@include foundation-button;
@include foundation-breadcrumbs; //@include foundation-button-group;
@include foundation-visibility-classes;
@include foundation-float-classes; //@include foundation-flex-classes;

.clearfix {
  @include clearfix;
}
// Globals

.symbol {
  color: #004289;
}

.outer {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: underline;
  color: $dark-gray;
}

a,
h1,
h3,
p {
  hyphens: auto;
}
@include breakpoint(xlarge) {
  a,
  h1,
  h3,
  p {
    hyphens: none;
  }
}

#footer,
#login,
#search,
.content,
.header,
.header-bar {
  padding: $grid-column-gutter/4;
}
//mixin
@mixin position($w, $h) {
  position: absolute;
  right: $grid-column-gutter/4;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: rem-calc($w);
  height: rem-calc($h);
  @include breakpoint(xxlarge) {
    right: $grid-column-gutter/2;
  }
}
//skiplinks

#skiplinks {
  position: absolute;
  list-style: none;
  width: 16rem;
  top: 1rem;
  z-index: 101;
  margin: 0;

  li {
    position: absolute;
    width: 100%;
    background-color: $dark-blue;
  }
}
//Header

header {
  background: $dark-blue;
}

.header {
  padding: $grid-column-gutter/4;
  max-width: $global-width;
  margin: 0 auto;
  @include clearfix;

  .logo {
    display: block;
  }

  span {
    display: block;
    margin-top: $grid-column-gutter/2;
    color: $white;
  }
}
@include breakpoint(xlarge) {
  .header {
    display: block;
    padding-top: $grid-column-gutter/2;
    padding-bottom: $grid-column-gutter/2;
    transition: padding-top 0.2s, padding-bottom 0.2s;

    .logo {
      width: 30%;
      float: left;
      transition: width 0.2s;
    }

    span {
      font-size: rem-calc(18);
      float: right;
      margin-bottom: $grid-column-gutter/2;
    }
  }
}
//hamburger

.mobile-buttons {
  float: left;
}

.menu-button {
  cursor: pointer;
  margin: 0;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  width: rem-calc(50);
  height: rem-calc(50);
  padding: rem-calc(10);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: transform 0.25s;
  background-color: $light-blue;
}

.menu-button-label {
  margin-left: rem-calc(10);
}

.menu-button-inner {
  display: block;
  top: 100%;
  margin-top: rem-calc(-27);
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    width: rem-calc(30);
    height: rem-calc(5);
    background-color: $dark-blue;
    border-radius: rem-calc(1);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::after,
  &::before {
    content: '';
    display: block;
  }

  &::before {
    top: rem-calc(11);
    right: rem-calc(0);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
@include breakpoint (xxlarge) {
  .mobile-buttons {
    display: none;
  }
}
//service nav
//main menu

#menu-main,
#service-nav {
  a {
    transition: all 0.2s;
  }
}

#service-nav {
  float: right;
  margin: 0 $grid-column-gutter/-6 0 0;

  li {
    float: left;
    position: relative;
  }

  li:last-child {
    a:after {
      display: none;
    }
  }

  a {
    width: rem-calc(50);
    height: rem-calc(50);
    display: block;
    padding: $grid-column-gutter/6;

    &:focus,
    &:hover {
      background: $light-blue;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 1px;
      height: rem-calc(50);
      background: $dark-blue;
      margin-left: 0.6rem;
    }

    .symbol {
      color: $dark-blue;
      height: rem-calc(28);
      width: rem-calc(28);
    }
  }
}

#style-control {
  display: none;
}
@include breakpoint(large) {
  #service-nav {
    #style-control {
      display: block;
      width: 12rem;
      padding-left: rem-calc(10);

      span:nth-of-type(1) {
        display: block;
      }

      #style-contrast,
      #style-normal,
      span:nth-of-type(2) {
        display: block;
        float: left;
        margin-top: rem-calc(-6);
      }

      a {
        padding: 0;
        width: auto;
        height: auto;
        height: rem-calc(25);

        &:focus,
        &:hover {
          background: $dark-blue;
          color: $white;
        }

        &:after {
          display: none;
        }

        &#style-contrast {
          &:after {
            position: static;
          }
        }
      }

      span {
        font-size: rem-calc(16);
      }
    }
  }
}
@include breakpoint(xxlarge) {
  .nav-main {
    float: left;
    width: 30%;
  }
}

#menu-main {
  margin: 0 $grid-column-gutter/-4;
  position: relative;

  li {
    &.active > a,
    &.open > a,
    &.open > a:focus,
    &.open > a:hover {
      background: $light-gray;
      color: $dark-blue;
      border-left-color: $dark-blue;

      .symbol {
        color: $dark-blue;
      }
    }

    &:last-child a {
      border-bottom: 1px solid $dark-gray;
    }
  }

  a {
    font-size: rem-calc(24);
    display: block;
    position: relative;
    padding: $grid-column-gutter/4 $grid-column-gutter $grid-column-gutter/4 $grid-column-gutter/4;
    border-top: 1px solid $dark-gray;
    text-decoration: none;
    border-left: rem-calc(10) solid $white;
    hyphens: auto;

    &:focus,
    &:hover {
      background: $dark-blue;
      color: $white;
      border-left-color: $dark-blue;
      text-decoration: underline;

      .symbol {
        color: $white;
      }
    }

    .symbol {
      @include position(32, 32);
    }
  }

  .sub-container {
    display: none;
    margin-left: 0;

    li:last-child {
      a {
        border-bottom: none;
      }
    }

    a {
      border-top: none;
      font-size: rem-calc(20);
      padding-top: $grid-column-gutter/4;
      padding-bottom: $grid-column-gutter/4;
      padding-left: $grid-column-gutter/2;
      background: $light-gray;
      border-color: $light-gray;

      &:first-child {
        border-bottom: none;
      }

      &:focus,
      &:hover {
        background: $dark-blue;
        color: $white;
        border-color: $dark-blue;
      }
    }
  }

  .l2 {
    a {
      padding-left: $grid-column-gutter;
    }
  }
}
@include breakpoint(xxlarge) {
  .nav-main {
    margin-bottom: $grid-column-gutter*4;
  }

  #menu-main {
    display: block !important;
    margin: 0;

    a {
      padding-right: $grid-column-gutter*1.2;
    }
  }

  .main-menu svg {
    margin-right: $grid-column-gutter/6;
  }
}
// Suchfeld und Suchbuttons

#login,
#search {
  display: none;
  background-color: $light-blue;

  .btn:not(.btn-cancel) {
    color: $white;
    background: $dark-blue;
  }

  .btn-login,
  .btn-senden {
    cursor: pointer;
    transition: background 0.15s;

    &:focus,
    &:hover {
      background: $white;
      color: $dark-blue;
      border: 1px solid $dark-blue;
    }
  }

  form {
    margin: $grid-column-gutter/4;
  }

  input {
    color: $dark-blue;
    height: rem-calc(50);
    padding: 0.5rem;
    border: 1px solid $dark-blue;
  }
}

#search {
  width: 100%;
  padding: $grid-column-gutter/2 0;

  .search-item {
    width: 100%;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 65%;
    border-radius: 4px 0 0 4px;
    color: $dark-gray;
  }

  .btn-senden {
    border: 0;
    width: 30%;
    margin-left: rem-calc(10);
    border-radius: 0 4px 4px 0;
  }

  .btn-cancel {
    color: $dark-blue;
    margin-top: rem-calc(20);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: $dark-gray;
      text-decoration: none;
    }
  }
}
@include breakpoint(medium) {
  #search {
    .search-item {
      display: flex;
      justify-content: flex-end;
    }

    form {
      flex-wrap: nowrap;
    }

    .btn-cancel {
      margin: 0 0 0 rem-calc(10);
    }
  }
}
@include breakpoint(large) {
  #search {
    form {
      width: 60%;
    }
  }
}
// login-Layout

#login {
  color: $dark-blue;
  margin: 0 $grid-column-gutter/-4;

  &.open {
    display: block;
  }

  .error {
    color: #c00000;
  }

  button,
  input {
    border-radius: 4px;
  }

  input {
    width: 100%;
  }

  label {
    display: block;
  }

  .user-pw {
    margin-top: $grid-column-gutter/4;
  }

  .user-button {
    margin-top: $grid-column-gutter/2;
  }

  .btn-login,
  .btn-logout {
    height: rem-calc(50);
    width: rem-calc(80);
    background-color: $dark-blue;
    color: $white;
    margin-right: rem-calc(10);
  }

  .lost-pw {
    color: $dark-blue;

    &:focus,
    &:hover {
      color: $dark-gray;
      text-decoration: none;
    }
  }
}
@include breakpoint(large) {
  #login {
    .login-item {
      display: flex;
      justify-content: flex-end;
    }

    form,
    label {
      display: inline-flex;
    }

    form {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    label {
      margin-right: $grid-column-gutter/8;
    }

    .user-pw {
      margin: 0 rem-calc(18);
    }

    .btn-login,
    .btn-logout {
      margin: 0 rem-calc(10) 0 0;
    }
  }
}
@include breakpoint(xlarge) {
  #login {}
}
//main

main {
  section {
    padding: $grid-column-gutter/2 0;
  }

  p {
    font-size: rem-calc(21);
  }
}
@include breakpoint(xlarge) {
  main {
    p {
      font-size: rem-calc(24);
    }
  }
}
@include breakpoint(xxlarge) {
  main {
    float: left;
    width: 70%;
    padding-left: $grid-column-gutter;
  }
}
//breadcrumb

.breadcrumb {
  display: none;
}

#breadcrumb-menu {
  @extend .clearfix;
  margin: 0;

  li {
    list-style-type: none;
    float: left;
    padding-right: $grid-column-gutter/4;
  }

  a {
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
      color: $dark-blue;
    }
  }

  li:first-child {
    &:after {
      content: '›';
      display: inline-block;
      margin-left: $grid-column-gutter/6;
    }
  }
}
@include breakpoint(xxlarge) {
  .breadcrumb {
    display: block;
    padding: 0;
  }
}
//Textbox + legende

.legend-icons,
.text {
  padding: 0;
}

.legend-icons {
  margin: 0;

  li {
    margin-bottom: rem-calc(18);
  }

  span {
    vertical-align: middle;
  }
}
@include breakpoint(medium) {
  .legend-icons {
    li {
      display: inline-block;
      margin-right: rem-calc(18);
    }
  }
}

.content-type-legend {
  width: rem-calc(26);
  height: rem-calc(26);
  color: $dark-gray;
  margin-right: rem-calc(4);
  vertical-align: middle;
}
//Accordion

@keyframes pl {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(180deg);
  }
}

.a_item {
  border-bottom: 1px solid $dark-gray;
  padding: $grid-column-gutter/4;
  position: relative;

  &:first-child {
    border-top: 1px solid $dark-gray;
  }

  img {
    margin-bottom: rem-calc(36);
  }

  img:not(:first-of-type) {
    margin-top: rem-calc(36);
  }
}

.date {
  color: $dark-gray;
  font-size: rem-calc(22);
}

.a_open {
  background: $light-blue;
  border-color: $dark-blue;
}

.a_link,
.link,
.pdf {
  display: block;
  text-decoration: none;
  color: $dark-blue;
  position: relative;
  margin: $grid-column-gutter/-4;
  padding: $grid-column-gutter/4;
  transition: background 0.15s;


  &:focus,
  &:hover {
    background: $light-blue;
    color: $dark-blue;
    text-decoration: underline;
    .plusminus {
      animation-name: pl;
      animation-duration: .25s;
      transform-origin: 50% 50%;
    }
  }

  h3,
  p {
    padding-right: $grid-column-gutter;
    line-height: rem-calc(50);

    .symbol {
      margin-left: $grid-column-gutter/4;
    }
  }
  .a_icon {
    position: absolute;
    right: $grid-column-gutter/2;
    top: 50%;
    transform: translateY(-50%);
    .plusminus {
      width: rem-calc(36);
      height: rem-calc(36);
    }
  }
}

.a_content {
  display: none;
  margin-top: $grid-column-gutter/2;

  .player {
    border: none;
    display: none;
  }

  a {
    overflow-wrap: break-word;
    word-wrap: break-word;

    &:focus,
    &:hover {
      color: $dark-blue;
      text-decoration: none;
    }
  }

  h3:not(:first-of-type) {
    margin-top: rem-calc(72);
  }

  h3 + h4 {
    margin-top: 0;
  }

  h4 {
    margin-top: rem-calc(46);
  }
}

.link-list,
.pdf-list {
  margin: 0;

  li {
    margin: 2rem 0;
    font-size: rem-calc(21);
    display: block;

    .symbol {
      float: left;
      color: $dark-gray;
    }

    &:focus,
    &:hover {
      .symbol {
        color: $dark-blue;
      }
    }
  }

  a {
    line-height: rem-calc(45);
    margin-left: rem-calc(56);
    display: block;
  }

  a[href^="mailto"] {
    margin-left: 0;
  }
}

.person:not(:first-of-type) {
  margin-top: rem-calc(54);
  display: block;
}

.content-type {
  width: rem-calc(38);
  height: rem-calc(38);
  position: relative;
  top: rem-calc(6);
  left: rem-calc(6);
}
@include breakpoint(medium) {
  .a_item {
    margin: 0;
  }

  .a_link,
  .link,
  .pdf {
    h3 {
      padding-right: $grid-column-gutter;
    }

    .a_icon {
      .plusminus {
        width: rem-calc(46);
        height: rem-calc(46);
      }
    }
  }

  .a_content {
    padding-right: $grid-column-gutter;
  }

  .link-list,
  .pdf-list {
    li {
      font-size: rem-calc(24);
    }
  }
}
@include breakpoint(xxlarge) {
  .a_item {
    padding: $grid-column-gutter/2;
  }

  .a_link,
  .link,
  .pdf {
    margin: $grid-column-gutter/-2;
    padding: $grid-column-gutter/2;

    h3 {
      line-height: rem-calc(54);
      padding-right: $grid-column-gutter*2;
    }
  }
}
//vorstand

.member {
  @include clearfix;
  margin-bottom: $grid-column-gutter*2;

  img {
    margin-bottom: $grid-column-gutter/4;
  }

  h3 {
    margin-bottom: rem-calc(20);
  }

  a {
    &:focus,
    &:hover {
      color: $dark-blue;
      text-decoration: none;
    }
  }
}
@include breakpoint(medium) {
  .member {
    img {
      float: left;
    }

    .person-info {
      padding-left: rem-calc(250);
    }
  }
}
@include breakpoint(large) {
  .member {
    h3 {
      font-size: rem-calc(44);
    }
  }
}
// kontakt

.kontakt {
  .person,
  .person-info {
    margin: 0;
    padding: 0;
  }
}
// Footer

footer {
  background: $light-gray;
  padding-top: $grid-column-gutter/2;
  padding-bottom: $grid-column-gutter/2;
}

#footer-nav {
  margin: 0;

  a {
    &:focus,
    &:hover {
      color: $dark-blue;
      text-decoration: none;
    }
  }
}
@include breakpoint(large) {
  #footer-nav {
    li {
      display: inline-block;
    }

    a {
      margin: 0 rem-calc(14);
    }
  }
}
//mixin contrast + sticky
@mixin servicenav($category) {
  ##{$category} {
    a {
      color: $white;

      &:after {
        background: $white;
      }

      &:focus,
      &:hover {
        background: $white;
        color: $dark-blue;
        .symbol,
        span {
          color: $dark-blue;
        }
      }
    }

    #btn-contact,
    #btn-login,
    #btn-logout,
    #btn-search {
      a:focus,
      a:hover {
        .symbol {
          color: $dark-blue;
        }
      }
    }

    .symbol,
    span {
      color: $white;
    }
  }
}
//contrast

.contrast {
  @include servicenav(service-nav);
  body {
    background: $dark-blue;
    color: $white;
  }

  a {
    color: $white;
  }

  .fluid-header {
    border-bottom: 1px solid $white;
  }

  #style-control {
    #style-contrast,
    #style-normal {
      color: $white;

      &:focus,
      &:hover {
        span {
          background: $white;
          color: $dark-blue;
        }
      }
    }
  }

  .menu-button-label {
    color: $white;
  }

  .menu-button-box {
    background: $white;
  }

  #menu-main {
    li {
      &.active > a,
      &.open > a,
      &.open > a:focus,
      &.open > a:hover {
        background: $white;
        border-left-color: $white;
      }
    }
    li:last-child a {
        border-bottom: 1px solid $white;
    }
    a {
      border-color: $white;
      border-left-color: $dark-blue;
      color: $white;

      .symbol {
        color: $white;
      }
    }

    .sub-container {
      li {
        &.open > a,
        a {
          background: $white;
          color: $dark-blue;
          border-color: $white;

          .symbol {
            color: $dark-blue;
          }

          &:focus,
          &:hover {
            background: $dark-blue;
            color: $white;
            border-color: $dark-blue;

            .symbol {
              color: $white;
            }
          }
        }
      }
    }
  }

  #breadcrumb-menu {
    a {
      color: $white;

      &:focus,
      &:hover {
        background: $white;
        color: $dark-blue;
      }
    }
  }

  .a_open {
    background: $white;
    color: $dark-blue;

    .a_link {
      color: $dark-blue;

      .a_header {
        color: $dark-blue;
      }
    }
  }
  //legenden icons
  .content-type-legend {
    color: $white;
  }
  //accordion
  .a_item {
    border-color: $white;
  }

  .a_link,
  .link,
  .pdf {
    color: $white;

    .content-type {
      color: $white;
    }

    .date {
      color: $white;
    }

    .a_icon .symbol {
      color: $white;
    }

    &:focus,
    &:hover {
      color: $dark-blue;
      background: $white;

      .date {
        color: $dark-blue;
      }

      .content-type {
        color: $dark-blue;
      }

      .plusminus {
        color: $dark-blue;
      }
    }
  }

  .a_open .a_link,
  .a_open .link,
  .a_open .pdf {
    color: $dark-blue;
    background: $white;

    .date {
      color: $dark-blue;
    }

    .content-type {
      color: $dark-blue;
    }

    .plusminus {
      color: $dark-blue;
    }
  }

  .a_content {
    a {
      color: $dark-blue;

      &:focus,
      &:hover {
        color: $dark-gray;
      }
    }
    .content-type {
      color: $dark-blue;
    }
  }

  footer {
    background: $dark-blue;
    border-top: 1px solid $white;
  }

  #footer-nav {
    a {
      color: $white;
    }
  }
}
//sticky
@include breakpoint(xxlarge) {
  .sticky {
    header {
      position: fixed;
      width: 100%;
      z-index: 100;
    }

    .header {
      padding-top: $grid-column-gutter/6;
      padding-bottom: $grid-column-gutter/6;

      span {
        display: none;
      }
    }

    .logo {
      width: rem-calc(160);
      height: auto;
    }

    .fadein-area,
    .header-bar {
      position: fixed;
      z-index: 500;
      width: 100%;
    }

    .header-bar {
      left: 50%;
      transform: translateX(-50%);
      animation: fade-header 0.2s;
    }

    .fadein-area {
      animation: fade-input 0.2s;
      top: rem-calc(89);
    }

    .content {
      margin-top: rem-calc(264);
    }
    @include servicenav(service-nav);
    //animation
    @keyframes fade-header {
      0% {
        top: rem-calc(88);
      }

      100% {
        top: 0;
      }
    }
    @keyframes fade-input {
      0% {
        top: rem-calc(150);
      }

      100% {
        top: rem-calc(89);
      }
    }
  }
}
